<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BioinformaticsDissertationMSc.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <BioinformaticsDissertationMSc.Properties.Settings>
            <setting name="SequenceFileList" serializeAs="String">
                <value/>
            </setting>
            <setting name="StructureFolderList" serializeAs="String">
                <value/>
            </setting>
            <setting name="FilterSequenceNonProteinAlphabet" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FilterSequenceNonDimers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FilterSequenceDuplicates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FilterSequenceNonHomoDimers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FilterStructureMultipleModes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FilterStructureNonDimers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FilterStructureNonInteracting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FilterStructureNonSymmetrical" serializeAs="String">
                <value>True</value>
            </setting>
        </BioinformaticsDissertationMSc.Properties.Settings>
    </userSettings>
</configuration>
